{% extends 'lms/lms_base.html' %}
{% load static %}

{% block css %}
{{ form.media }}

    <link rel="stylesheet" href="{% static 'lms/css/announcement.css' %}">
<!--    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">-->
<!--    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>-->
<!--    <link href="https://cdn.quilljs.com/1.3.6/quill.fileUpload.css" rel="stylesheet">-->
<!--    <script src="https://cdn.quilljs.com/1.3.6/quill.fileUpload.js"></script>-->
{% endblock %}

{% block content %}
<!-- Section Content -->
<section class="content">
    <div class="header-container">
        <h1 class="db">DASHBOARD</h1>
        <h1 class="wl">Wi-Learn</h1>
    </div>
</section>

    <div id="CancelModal">
        <div class="Cancelpopup">
            <div class="Cancelheader">
                DISCARD ANNOUNCEMENT EDITS?
            </div>
            <div class="Cancelcontent">
                <p class="cancel-text">Are you certain you wish to discard the changes made to the announcement?</p>
                <div class="cancel-group">
                    <button class="yes_btn" onclick="cancelAnnouncement()">Discard</button>
                    <button class="can_btn" id="can_btn" onclick="cancelCancel()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

<section class="announcement-creation">
    <h2>Edit Announcement</h2>
    <div class="announcement-form">
        <form method="post">
            {% csrf_token %}
            {% if form %}
                {{form.title.label_tag}}
                {{form.title}}
                {% if form.errors %}
                    {{ form.errors.title }}
                {% endif %}

                {{form.text.label_tag}}
                {{form.text}}
                {% if form.errors %}
                    {{ form.errors.text }}
                {% endif %}
            {% endif %}
        <hr>
        <button type="button" class="cancel-button" onclick="discardAnnouncement()">Cancel</button>
        <button type="submit" class="publish-button"><i class="fa fa-regular fa-floppy-disk"></i> Save</button>
        </form>
    </div>
</section>

{% endblock %}
    {% block js %}
        <script src="{% static 'lms/js/announcement.js' %}"></script>
    {% endblock %}
