<!DOCTYPE html>
<html>
<head>
    {% load static %}
    {{ form.media }}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kadwa&family=Langar&family=Lato:wght@100;300&family=REM&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'lms/css/dashboard.css' %}">
    <link rel="icon" href="{% static 'lms/images/logo.png' %}" type="image/png">
    <title>Wawawi</title>
</head>
<body>

<!-- Side Navigation Bar -->
    <nav class="sidenav">
        <ul>
            <li>
                <a href="{% url 'lms:dashboard' %}">
                    <img class="logo" src="{% static 'lms/images/logo.png' %}" alt="Your Logo">
                </a>
            </li>
            <li>
                <a href="{% url 'lms:profile' %}">
                    <i class="fa fa-user"></i>
                    <span>Profile</span>
                </a>
            </li>
            <li>
                <a href="{% url 'lms:dashboard' %}">
                    <i class="fa fa-tachometer"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-book"></i>
                    <span>Courses</span>
                </a>
            </li>
<!--            <li>-->
<!--                <a href="#">-->
<!--                    <i class="fa fa-calendar"></i>-->
<!--                    <span>Activities</span>-->
<!--                </a>-->
<!--            </li>-->
            <li>
                <a href="{% url 'lms:inbox' %}">
                    <i class="fa fa-inbox"></i>
                    <span>Inbox</span>
                </a>
            </li>
            <li>
                <a href="{% url 'login:logout' %}">
                    <i class="fa fa-sign-out"></i>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </nav>

<!-- Section Content -->
<section class="content">
    <div class="header-container">
        <h1 class="db">{{ course_name }}</h1>
        <h1 class="wl">Wi-Learn</h1>
    </div>
</section>

    <div id="CancelModal">
        <div class="Cancelpopup">
            <div class="Cancelheader">
                DISCARD UPDATES?
            </div>
            <div class="Cancelcontent">
                <p class="cancel-text">Are you sure you want to discard changes?</p>
                <div class="cancel-group">
                    <button class="yes_btn" onclick="cancelCourse()">Discard</button>
                    <button class="can_btn" id="can_btn" onclick="cancelCancel()">Cancel</button>
                </div>
            </div>
        </div>
    </div>



<section class="dashboard-content">
    <form id="dashboard-form" method="post">
        {% csrf_token %}
        <button type="button" id="edit-button" class="edit-button" onclick="editModule()">Edit</button>
        <div class="title">
            <h1 id="module-title">{{ assign.assign_title }}</h1>
        </div>
        <div class="mod_content" id="mod_content" style="display: block;">
            {{ assign.assign_content.html | safe }}
        </div>
        <div class="form-group" id="mod_form" style="display: none;">
            <div class="in_div">
                {{ form.assign_title.label_tag }}
                {{ form.assign_title }}
            </div>
            <div class="in_div">
                {{ form.assign_content.label_tag }}
                {{ form.assign_content }}
            </div>
        </div>

        <div class="button-containers" id="edit-options" style="display: none;">
            <button type="button" class="cancel-button" onclick="discardCourse()">Cancel</button>
            <button class="publish-button">Publish</button>
        </div>
       <div class="a">
           {% if prev_assign %}
                <a class="previous-page-button" href="{% url 'lms:edit_assign' id=id assign_num=prev_assign.assign_num  %}">Previous Page</a>
            {% endif %}

           {% if next_assign %}
            <a class="next-page-button" href="{% url 'lms:edit_assign' id=id assign_num=next_assign.assign_num %}">Next Section</a>
           {% endif %}
    </div>
    </form>

    </div>
</section>

<script src="{% static 'lms/js/dashboard.js' %}">

</script>
</body>
</html>
