<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kadwa&family=Lato:wght@100;300&family=REM&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'lms/css/insidemodule.css' %}">
    <link rel="icon" href="{% static 'lms/images/logo.png' %}" type="image/png">
    <title>Wawawi</title>
</head>
<body>

<!-- Side Navigation Bar -->
<nav class="sidenav">
    <ul>
        <li>
            <a href="{% url 'lms:dashboard' %}">
                <img class="logo" src="{% static 'lms/images/logo.png' %}" alt="Your Logo">
            </a>
        </li>
        <li>
            <a href="{% url 'lms:profile' %}">
                <i class="fa fa-user"></i>
                <span>Profile</span>
            </a>
        </li>
        <li>
            <a href="{% url 'lms:dashboard' %}">
                <i class="fa fa-tachometer"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-book"></i>
                <span>Courses</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-calendar"></i>
                <span>Activities</span>
            </a>
        </li>
        <li>
            <a href="{% url 'lms:inbox' %}">
                <i class="fa fa-inbox"></i>
                <span>Inbox</span>
            </a>
        </li>
    </ul>
</nav>

<!-- Section Content -->
<section class="content">
    <div class="header-container">
        <h1 class="db">DASHBOARD</h1>
        {% if user.is_authenticated %}
            <h2>{{user.username}}</h2>
        {% endif %}
        <h1 class="wl">Wi-Learn</h1>
    </div>
</section>

<section class="dashboard-content">
    <div class="button-container">
        <div class="course-buttons">
            <button id="modulesButton" onclick="toggleDisplay('modules')">
                Modules
            </button>
            <button id="calendarButton" onclick="toggleDisplay('calendar')">
                Calendar
            </button>
        </div>

    </div>

    <hr>

    <div id="modulesSection" class="section-container">
        <button class="collapsible" onclick="toggleCollapsible(1)">Module 1</button>
        <div class="contents">
            {% if mod1 %}
                {% for m in mod1 %}
                    <div class="lessoncontent">
                        <a href="modulecontent.html">Module 1 - {{ m.module_title }}</a>
                    </div>
                {% endfor %}
            {% endif %}
<!--            <div class="lessoncontent">-->
<!--                <a href="modulecontent.html">Module 1 - How to ....</a>-->
<!--                </div>-->
            <div class="lessoncontent">
                <a class="addModuleButton" title="Add Course" href="{% url 'lms:create_module' id=id mod_num=1 %}" >+</a>
                </div>
        </div>

        <button class="collapsible" onclick="toggleCollapsible(2)">Module 2</button>
        <div class="contents">
            {% if mod2 %}
                {% for m in mod2 %}
                    <div class="lessoncontent">
                        <a href="modulecontent.html">Module 2 - {{ m.module_title }}</a>
                    </div>
                {% endfor %}
            {% endif %}
<!--            <div class="lessoncontent">-->
<!--                <a href="modulecontent.html">Module 2 - How to ....</a>-->
<!--                </div>-->
            <div class="lessoncontent">
                <a class="addModuleButton" title="Add Course" href="{% url 'lms:create_module' id=id mod_num=2 %}" >+</a>
                </div>
        </div>

        <button class="collapsible" onclick="toggleCollapsible(3)">Module 3</button>
        <div class="contents">
            {% if mod3 %}
                {% for m in mod3 %}
                    <div class="lessoncontent">
                        <a href="modulecontent.html">Module 3 - {{ m.module_title }}</a>
                    </div>
                {% endfor %}
            {% endif %}
<!--            <div class="lessoncontent">-->
<!--                <a href="modulecontent.html">Module 3 - How to ....</a>-->
<!--                </div>-->
            <div class="lessoncontent">
                <a class="addModuleButton" title="Add Course" href="{% url 'lms:create_module' id=id mod_num=3%}" >+</a>
                </div>
        </div>

        <button class="collapsible" onclick="toggleCollapsible(4)">Module 4</button>
        <div class="contents">
            {% if mod4 %}
                {% for m in mod4 %}
                    <div class="lessoncontent">
                        <a href="modulecontent.html">Module 4 - {{ m.module_title }}</a>
                    </div>
                {% endfor %}
            {% endif %}
<!--            <div class="lessoncontent">-->
<!--                <a href="modulecontent.html">Module 4 - How to ....</a>-->
<!--                </div>-->
            <div class="lessoncontent">
                <a class="addModuleButton" title="Add Course" href="{% url 'lms:create_module' id=id mod_num=4%}" >+</a>
                </div>
        </div>

        <button class="collapsible" onclick="toggleCollapsible(5)">Module 5</button>
        <div class="contents">
            {% if mod5 %}
                {% for m in mod5 %}
                    <div class="lessoncontent">
                        <a href="modulecontent.html">Module 5 - {{ m.module_title }}</a>
                    </div>
                {% endfor %}
            {% endif %}

<!--            <div class="lessoncontent">-->
<!--                <a href="modulecontent.html">Module 5 - How to ....</a>-->
<!--                </div>-->
            <div class="lessoncontent">
                <a class="addModuleButton" title="Add Course" href="{% url 'lms:create_module' id=id mod_num=5%}" >+</a>
                </div>
        </div>

        <button class="collapsible" onclick="toggleCollapsible(6)">Module 6</button>
        <div class="contents">
            {% if mod6 %}
                {% for m in mod6 %}
                    <div class="lessoncontent">
                        <a href="modulecontent.html">Module 6 - {{ m.module_title }}</a>
                    </div>
                {% endfor %}
            {% endif %}
<!--            <div class="lessoncontent">-->
<!--                <a href="modulecontent.html">Module 6 - How to ....</a>-->
<!--                </div>-->
            <div class="lessoncontent">
                <a class="addModuleButton" title="Add Course" href="{% url 'lms:create_module' id=id mod_num=6%}" >+</a>
                </div>
        </div>

        <hr>

        <h1>Assignments</h1>
        <button class="collapsible" onclick="toggleCollapsible(6)">Module 6</button>
        <div class="contents">
            <div class="lessoncontent">
                <a href="modulecontent.html">Module 6 - How to ....</a>
                </div>
            <div class="lessoncontent">
                <a class="addModuleButton" title="Add Course" href="{% url 'lms:create_module' id=id mod_num=1%}" >+</a>
                </div>
        </div>
        <button class="collapsible" onclick="toggleCollapsible(6)">Module 6</button>
        <div class="contents">
            <div class="lessoncontent">
                <a href="modulecontent.html">Module 6 - How to ....</a>
                </div>
            <div class="lessoncontent">
                <a class="addModuleButton" title="Add Course" href="{% url 'lms:create_module' id=id mod_num=1%}" >+</a>
                </div>
        </div>
        <hr>
        <h1>Quizzes</h1>

        <button class="collapsible" onclick="toggleCollapsible(6)">Module 6</button>
        <div class="contents">
            <div class="lessoncontent">
                <a href="modulecontent.html">Module 6 - How to ....</a>
                </div>
            <div class="lessoncontent">
                <a class="addModuleButton" title="Add Course" href="{% url 'lms:create_module' id=id mod_num=1%}" >+</a>
                </div>
        </div>
        <button class="collapsible" onclick="toggleCollapsible(6)">Module 6</button>
        <div class="contents">
            <div class="lessoncontent">
                <a href="modulecontent.html">Module 6 - How to ....</a>
                </div>
            <div class="lessoncontent">
                <a class="addModuleButton" title="Add Course" href="{% url 'lms:create_module' id=id mod_num=1%}" >+</a>
                </div>
        </div>

        <hr>
        <h1>Discussions</h1>
        <button class="collapsible" onclick="toggleCollapsible(6)">Module 6</button>
        <div class="contents">
            <div class="lessoncontent">
                <a href="modulecontent.html">Module 6 - How to ....</a>
                </div>
            <div class="lessoncontent">
                <a class="addModuleButton" title="Add Course" href="{% url 'lms:create_module' id=id mod_num=1%}" >+</a>
                </div>
        </div>
        <button class="collapsible" onclick="toggleCollapsible(6)">Module 6</button>
        <div class="contents">
            <div class="lessoncontent">
                <a href="modulecontent.html">Module 6 - How to ....</a>
                </div>
            <div class="lessoncontent">
                <a class="addModuleButton" title="Add Course" href="{% url 'lms:create_module' id=id mod_num=1%}" >+</a>
                </div>
        </div>


    </div>

    <!-- Container for Calendar -->
    <div id="calendarSection" class="section-container">
        <!-- Content for Calendar goes here -->
        <p>This is the Calendar section.</p>
    </div>
</section>

<script src="{% static 'lms/js/insidemodule.js' %}"></script>
</body>
</html>