body{
    margin: 0;
}

.sidenav{
    height:100%;
    width: 70px;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background-color: #2F293D;
    overflow-x:hidden;
}

.sidenav li{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70px;
}


.sidenav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.sidenav a{
    display: block;
    text-decoration: none;
    color: #ffffff;
}   


.sidenav .logo{
    width: 24px;
    height: 24px;
}

.sidenav i {
    font-size: 24px;
}

.sidenav span{
    margin-top: 5px;
    display: none;
}

.sidenav li:hover span{
    display:block
}

.content{
    background-color: #5F62B6;
    margin-left: 70px; 
    padding: 10px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-title{
    margin-left: 90px;
}

.profile-title hr{
    width: 95%;
    margin-left: 0;
}

#hr-form{
    width: 90%;
    margin-left: 0;
}


.profile-content{
    margin-left: 90px;
}


.profile-box{
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
}

.profile-image{
    margin-left:0px;
    margin-right: 15px;
    flex:0.25;
    text-align: center;
}

.profile-image img{
    height: 160px;
    width: 160px;
    border-radius: 50%;
}

.profile-data{
    margin-left:0px;
    flex:1.5;
}

.profile{
    width: 80%;
}

.profile-button{
    width: 80%;
    text-align: right;
}

.profile-button a{
    background-color: #5F62B6;
    color: #fff;
    text-decoration: none;

}

.profile-button button{
    height: 40px;
    width: 100px;
    background-color: #5F62B6;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

h1.prof{
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    margin: 0;
}

h1.wl {
    color: #FDE5EC;
    font-family: 'Langar', cursive;
    font-size: 35px;
    margin: 0;
}

.edit-form{
    display: none;
    width:95%;
}

.def-profile{
    margin-bottom: 10px;
}

.div-image{
    text-align:center;
    width: 200px;
}

.img-pf{
    width: 200px;
}

.pf{
    width: 100%;
}

#CancelModal{
    width: 100%;
    height: 100%;
    display:none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
}

.Cancelpopup{
    width:30vw;
    height: 40vh;
    border-radius: 20px;
    border-style: solid;
    text-align: left;
    background-color: #5F62B6;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-family: 'Langar', cursive;
    z-index: 10;
}

.Cancelheader{
    flex: 1;
    font-size: 1.5em;
    padding: 15px 10px 10px 10px;
    text-align: left;
    color: #fafafa;
}

.Cancelcontent{
    background-color: #fafafa;
    flex: 5;
    padding: 10px 10px 10px 10px;
    text-align: center;
    font-size: 1.75rem;
    color: #5F62B6;
}

.yes_btn,
.can_btn{
    width: 4em;
    background-color: #333335;
    color: #222;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.can_btn{
    background-color: #EAEAEA;
}

.yes_btn{
    background-color: #DDE5F7;
}


.cancel-text{
    margin-bottom: 80px;
}

.cancel-group{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}